data
output
models
result_logs
logs
__pycache__
lib/model/roi_align/modules/__pycache__/**
lib/model/roi_align/__pycache__/**
lib/model/roi_align/_ext/roi_align/__pycache__/**
lib/model/roi_align/_ext/__pycache__/**
lib/model/roi_align/functions/__pycache__/**
lib/model/utils/__pycache__/**
lib/model/rpn/__pycache__/**
lib/model/__pycache__/**
lib/model/roi_crop/modules/__pycache__/**
lib/model/roi_crop/__pycache__/**
lib/model/roi_crop/_ext/__pycache__/**
lib/model/roi_crop/_ext/roi_crop/__pycache__/**
lib/model/roi_crop/functions/__pycache__/**
lib/model/faster_rcnn/__pycache__/**
lib/model/roi_pooling/modules/__pycache__/**
lib/model/roi_pooling/__pycache__/**
lib/model/roi_pooling/_ext/__pycache__/**
lib/model/roi_pooling/_ext/roi_pooling/__pycache__/**
lib/model/roi_pooling/functions/__pycache__/**
lib/model/nms/__pycache__/**
lib/model/nms/_ext/__pycache__/**
lib/model/nms/_ext/nms/__pycache__/**
lib/datasets/__pycache__/**
lib/pycocotools/__pycache__/**
lib/roi_data_layer/__pycache__/**

